@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Monserrat', sans-serif;
}

:root {
	/* Main Primary color */
	--primary: #ff9945;
	--primary-dark: #f67a14;
	--primary-light: #ffb06e;
	/* Main Secondary color (1) */
	--secondary: #ffcf6e;
	--secondary-light: #ffc145;
	--secondary-dark: #c48403;
	/* Main Secondary color (2) */
	--ternary: #ff4545;
	--ternary-light: #ff6e6e;
	--ternary-dark: #c40303;
}

.main-nav {
	display: flex;
	align-items: flex-start;
	background-color: var(--ternary-dark);
	width: 100%;
	height: auto;
}

.logo {
	flex: 1;
	padding: 15px;
	font-size: 3em;
	text-transform: uppercase;
	color: var(--ternary-light);
}

.nav-menu {
	flex: 3;
}

.nav-menu ul {
	/* flex: 1; */
	display: flex;
	list-style-type: none;
	margin-top: 30px;
	flex-flow: row wrap;
}

.nav-item {
	flex: 1;
	text-align: center;
	font-size: 1.5em;
}

.nav-item:hover {
	color: var(--ternary-light);
}

/* Welcome */
.overlay {
	position: absolute;
	width: 100%;
	top: 100;
	left: 0;
	background: url("/images/practiceBG.jpg");
	height: 70vh;
	opacity: .5;
	background-size: cover;
	z-index: -1;
}

.welcome-content {
	height: 70vh;
	display: flex;
	border-bottom: 2px solid var(--secondary-dark);
}

.welcome-text {
	margin: auto;
	width: 50%;
	height: auto;
	text-align: center;
	color: var(--ternary-dark);
	line-height: 1.6em;
	font-size: 1.3em;
}

.welcome-text h1 {
	padding-bottom: 25px;
	letter-spacing: .2em;
	text-transform: uppercase;
	border-bottom: 2px solid var(--ternary-light);
	margin-bottom: 25px;
}

/* Main */
#main {
	padding: 2em 0;
	display: flex;
}

.main-content {
	padding: 30px;
	background-color: var(--primary);
	margin: 0 3%;
	min-height: 300px;
	border-bottom: 7px solid var(--primary-dark);
	text-align: center;
}

.main-content img {
	max-width: 75%;
	min-width: 50%;
	padding-bottom: 25px;
}

.main-content h2 {
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 25px;
}

/* Gallary */
#gallary {
	width: 100%;
	background-color: var(--ternary);
	border-bottom: 2px solid var(--ternary-dark);
	padding: 75px 0;
}

#gallary h2 {
	text-align: center;
	font-size: 3em;
	border-bottom: 2px solid var(--ternary-dark);
	padding-bottom: 20px;
	margin-bottom: 50px;
}

.gallary-content {
	max-width: 960px;
	/* max-width: 1500px; */
	margin: 0 auto;
	display: grid;
	grid-gap: 50px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.gallary-content img {
	border-bottom: 2px solid var(--primary);
	width: 100%;
	height: 100%;
	min-width: 300px;
}

.one {
	grid-column: 1;
	grid-row: 1/5;
}

.two {
	grid-column: 2/4;
	grid-row: 3/4;
}

.three {}

.four {}

.five {}

.six {}

.seven {}

.eight {}

.nine {}

/* Footer */
footer {
	text-align: center;
	background-color: var(--secondary-light);
}

footer .footer-content {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 50px 0;
}

footer .footer-content h3 {
	padding-bottom: 25px;
	text-transform: capitalize;
}

footer .footer-content ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
	background-color: var(--secondary);
	padding: 15px;
	margin: auto;
}

.social-link {
	text-decoration: none;
	padding: 15px;
}

.fa-facebook-square {
	/* <i class="fab fa-facebook-square fa-2x"></i> */
	color: #3b5998;
}

.fa-youtube-square {
	/* <i class="fab fa-youtube-square fa-2x"></i> */
	color: #b31217;
}

.fa-twitter-square {
	/* <i class="fab fa-twitter-square fa-2x"></i> */
	color: #55acee;
}

.fa-instagram {
	/* <i class="fab fa-instagram fa-2x"></i> */
	color: #517fa4;
}